@page
@model BookModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>
<a asp-page="AddBook">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TitleSort">
                    Title
                </a>
            </th>
            <th>Description</th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    Publish date
                </a>
            </th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.BooksPage != null)
    {
            foreach (var book in Model.BooksPage)
        {
            <tr> 
                <td>@book.Title</td>
                <td>@book.Description </td>
                <td>@book.PublishDate.ToString("dd MMMMM yyyy") </td>
                <td>@book.Author.FirstName @book.Author.LastName</td>
                <td>
                    <a asp-page="./EditBook" asp-route-id="@book.Id">Edit</a> |
                    <a asp-page="./BookDetails" asp-route-id="@book.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@book.Id">Delete</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>

@{
    var prevDisabled = !Model.BooksPage.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.BooksPage.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.BooksPage.PageNumber - 1)"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.BooksPage.PageNumber + 1)"
   class="btn btn-primary @nextDisabled">
    Next
</a>
